/*#region - root*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #091921;
  --color-secondary: #2c8bc9;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-light-blue: #a5c5d6;
  --color-highlighted: rgb(19, 96, 129);
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

.light-mode {
  --color-primary: #FFFFFF;
  --color-secondary:#2c8bc9;
  --color-white: #11395a;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f8f8f8;
  --color-grey-6: #12181b;
  --color-light-blue: #e5f0f7;
  --color-highlighted: rgb(19, 96, 129);
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec6 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.inactive {
  display: none !important;
}

.highlighted {
  background-color: var(--color-highlighted) !important;
}
/*#endregion*/

/*#region  - controls*/

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white) !important;
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  background: var(--color-grey-4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
.controls .slide-button-info {
  font-family: arial;
  width: 0;
  color: #fff;
  line-height: 25px;
  height: 25px;
  left: 20px;
  position: absolute;
  background: #ff3130;
  z-index: -1;
  transition: width 2s, height 4s;
  -webkit-transition: width 2s, height 4s;
}
.controls .control:hover .slide-button-info {
  width: 150px;
}

.theme-btn {
  top: 10%;
  right: 5%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
/*#endregion*/

/*#region - nav bar*/

nav {
  background: var(--color-primary);
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color: black;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}

/*#endregion*/

/*#region - header content*/

.header-content {
  min-height: 100vh;
  padding: 2rem 0 3rem 0;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 30px 0;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-grey-3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  left: 80%;
  text-align: center;
  width: 700px;
  height: 400px;
  background-color: var(--color-light-blue);
}
.header-content .left-header .image .timer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(90deg, rgba(4,82,128,1) 5%, rgba(156,30,203,1) 32%, rgba(0,212,255,1) 100%); */
  background-color: var(--color-secondary);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
}
.header-content .left-header .image .timer_controls {
  margin: 0;
  list-style: none;
  display: flex;
  flex: 1;
}
.header-content .left-header .image .timer_button {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 800 !important;
  padding: 20px;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}
.header-content .left-header .image .display {
  align-items: flex-start;
}
.header-content .left-header .image .display .display_time-left {
  margin-top: 25px;
}
.header-content .left-header .image .display .display_current-task {
  color: var(--color-grey-4);
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 5px;
}
.header-content .left-header .image .display .display_end-time {
  font-size: 1.5rem;
}
.header-content .left-header .image .display h1 {
  font-size: 6rem;
  line-height: 6rem;
}
.header-content .left-header .image .display p {
  line-height: 2rem;
}
.header-content .left-header .image .start-stop-btn {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 800 !important;
  padding: 20px 30px 20px 30px;
  margin: 15px 0 0 0;
  width: 200px;
  border: none;
  border-radius: var(--br-sm-2);
  cursor: pointer;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 60%;
}
.header-content .right-header .name {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header .name .show-add-items {
  font-size: 2rem;
  border-radius: 25%;
  padding: 1px 15px;
  margin-top: 8px;
  margin-bottom: 15px;
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
  color: var(--color-secondary);
}
.header-content .right-header p {
  margin: 1.2rem 0;
  line-height: 2rem;
}
.header-content .right-header .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.header-content .right-header .wrapper .tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-content .right-header .wrapper .tasks .task-container {
  display: flex;
  width: 680px;
  margin-bottom: 15px;
}
.header-content .right-header .wrapper .tasks .task-container .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 800 !important;
  width: 90%;
  border: none;
  border-radius: var(--br-sm-2);
  transition: all 0.2s;
  text-transform: uppercase;
}
.header-content .right-header .wrapper .tasks .task-container .task .task-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  padding: 0px 0px 0px 0px;
}
.header-content .right-header .wrapper .tasks .task-container .task .task-item label {
  padding: 7px;
}
.header-content .right-header .wrapper .tasks .task-container .task .task-item:last-child {
  background-color: var(--color-white);
  border-radius: var(--br-sm-2);
}
.header-content .right-header .wrapper .tasks .task-container .task .task-item:last-child .delete-btn {
  border: none;
  background-color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2rem;
  border-radius: var(--br-sm-2);
  padding: 0px 7px;
  cursor: pointer;
  color: var(--color-secondary);
}
.header-content .right-header .wrapper .tasks .task-container .option-expand {
  background-color: var(--color-white);
  border: none;
  padding: 0px 15px 0px 15px;
  margin-left: 10px;
  border-radius: var(--br-sm-2);
  font-size: 1rem;
  cursor: pointer;
  color: var(--color-secondary);
}
.header-content .right-header .wrapper .tasks .task-container .option-expand i {
  pointer-events: none;
}
.header-content .right-header .wrapper .tasks .task-container .update-items {
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 800 !important;
  width: 660px;
  border: none;
  border-radius: var(--br-sm-2);
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
  padding: 20px;
}
.header-content .right-header .wrapper .tasks .task-container .update-items .update-item-row-1 {
  display: flex;
  justify-content: flex-start;
}
.header-content .right-header .wrapper .tasks .task-container .update-items .update-item-row-2 {
  display: flex;
  justify-content: space-between;
}
.header-content .right-header .wrapper .tasks .task-container .update-items .update-item-row-2 .update-item-row-2-left {
  display: flex;
  align-items: flex-end;
}
.header-content .right-header .wrapper .tasks .task-container .update-items .update-item-row-2 .update-item-row-2-left label {
  padding: 0px 5px 0px 0px;
}
.header-content .right-header .wrapper .tasks .task-container .update-items .update-item-row-2 .update-item-row-2-left .current-task-checkbox-item {
  margin-bottom: 9px;
}
.header-content .right-header .wrapper .tasks .task-container .update-items .update-item-row-2 .update-item-row-2-right {
  display: flex;
}
.header-content .right-header .wrapper .tasks .task-container .update-items .update-item-row-2 .update-item-row-2-right .update-items-cancel-btn {
  text-decoration: none;
  background-color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 800 !important;
  padding: 5px 8px 5px 8px;
  margin-right: 5px;
  border: none;
  border-radius: var(--br-sm-2);
  cursor: pointer;
  display: inline-block;
  color: var(--color-secondary);
  transition: all 0.2s;
  text-transform: uppercase;
}
.header-content .right-header .wrapper .tasks .task-container .update-items .update-item-row-2 .update-item-row-2-right .update-items-update-btn {
  text-decoration: none;
  background-color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 800 !important;
  padding: 5px 8px 5px 8px;
  border: none;
  border-radius: var(--br-sm-2);
  cursor: pointer;
  display: inline-block;
  color: var(--color-secondary);
  transition: all 0.2s;
  text-transform: uppercase;
}
.header-content .right-header .wrapper .add-items {
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  background-color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 800 !important;
  margin-right: 25px;
  width: 660px;
  border: none;
  border-radius: var(--br-sm-2);
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
  padding: 20px;
}
.header-content .right-header .wrapper .add-items .add-item {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
}
.header-content .right-header .wrapper .add-items #add-item-input-field {
  border-radius: var(--br-sm-2);
  border-color: var(--color-secondary);
}
.header-content .right-header .wrapper .add-items #add-item-btn {
  text-decoration: none;
  background-color: var(--color-secondary);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 800 !important;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: var(--br-sm-2);
  cursor: pointer;
  display: inline-block;
  color: var(--color-white);
  transition: all 0.2s;
  text-transform: uppercase;
}
/*#endregion*/

/*#region - about*/

.about-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-container .right-about .about-item {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
}
.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-grey-2);
}
.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .html {
  width: 90%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .css {
  width: 70%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .javascript {
  width: 95%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .react {
  width: 50%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .nodejs {
  width: 80%;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}
/*#endregion*/

/*#region - timeline*/

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-grey-5);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--color-grey-2);
  font-weight: 500;
  font-size: 1.2rem;
}
.timeline .timeline-item p {
  color: var(--color-grey-2);
}
/*#endregion*/

/*#region - settings*/
/*Reference portfolios section below if want any off the css features*/

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.settings {
  margin-top: 3rem;
}
.settings .settings-item {
  position: relative;
  border-radius: 15px;
}
.settings .settings-item .update-timer-btn {
  text-decoration: none;
  background-color: var(--color-secondary);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 800 !important;
  padding: 5px 20px 5px 20px;
  margin-top: 50px;
  border: none;
  border-radius: var(--br-sm-2);
  cursor: pointer;
  display: inline-block;
  color: var(--color-white);
  transition: all 0.2s;
  text-transform: uppercase;
}
.settings .settings-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.settings .settings-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.settings .settings-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}
.settings .settings-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings .settings-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.settings .settings-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.settings .settings-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}
.settings .settings-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}
/*#endregion*/

/*#region - portfolios*/
/*Portfolios*/
/*#endregion*/

/*#region - blogs*/

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.blogs .blog {
  position: relative;
  background-color: var(--color-grey-5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.blogs .blog:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.blogs .blog:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}
.blogs .blog img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}
.blogs .blog .blog-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--color-secondary);
}
.blogs .blog .blog-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.blogs .blog .blog-text h4:hover {
  color: var(--color-secondary);
}
.blogs .blog .blog-text p {
  color: var(--color-grey-2);
  line-height: 2rem;
  padding-bottom: 1rem;
}
/*#endregion*/

/*#region - contact*/

.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-content-con .right-contact .i-c-2 {
  display: flex;
}
.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}
/*#endregion*/

/*#region - independent components that are reused throughout app*/

.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.4s ease-out;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.main-title {
  text-align: center;
  padding: 1rem 0 1rem 0;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}
.main-title h5 {
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}
.main-title h5 span {
  color: var(--color-secondary);
}
.main-title h5 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 2rem;
}
/*#endregion*/

/*NEW DEV AIDAN H*/
.completed{
  text-decoration: line-through;
}
/*#endregion*/

/*#region - media queries*/
@media screen and (max-width: 600px) {
  /* .controls .control {
    margin: 1rem 0.2rem !important;
  } */
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .portfolios {
    grid-template-columns: 1fr !important;
    padding-bottom: 6rem;
  }
  .blogs {
    grid-template-columns: 1fr !important;
    padding-bottom: 6rem;
  }
  .section {
    padding: 2rem 2.5rem;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2.5rem;
  }
  .main-title h2 .bg-text {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1432px) {
  header {
    padding: 0 !important;
  }
  .section {
    padding: 7rem 11rem;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
  .portfolios {
    grid-template-columns: 1fr 1fr;
  }
  .blogs {
    grid-template-columns: 1fr 1fr;
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 970px) {
  .section {
    padding: 7rem 6rem;
  }
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 10rem !important;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    width: 90%;
    margin: 0 auto;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  /* .controls .control {
    margin: 2rem 1rem;
  } */
}
@media screen and (max-width: 700px) {
  .section {
    padding: 7rem 3rem;
  }
  .about-stats .progress-bars {
    grid-template-columns: 1fr;
  }
  .main-title h2 {
    font-size: 3rem;
  }
  .main-title h2 span {
    font-size: 3rem;
  }
  .main-title h2 .bg-text {
    font-size: 4rem;
  }
  li.logo {
    padding-left: 30px;
  }
  .display .display_current-task {
    font-size: 1.5rem !important;
    margin-top: 10px !important;
  }
  .display .display_end-time {
    margin-bottom: 5px;
  }
  .display p {
    line-height: 1.5rem !important;
  }
  .right-header .name {
    font-size: 1.2rem !important;
    align-items: center;
  }
  .right-header .name span {
    font-weight: 800 !important;
  }
  .right-header .name .show-add-items {
    font-size: 2.2rem !important;
    margin-left: 10px !important;
    padding: 0px 8px !important;
  }
  .right-header .wrapper .tasks .task-container {
    width: 300px !important;
  }
  .right-header .wrapper .tasks .task-container .task {
    font-size: 1rem !important;
  }
  .right-header .wrapper .tasks .task-container .task .task-item:last-child .delete-btn {
    padding: 5px !important;
    font-weight: 600 !important;
  }
  .right-header .wrapper .tasks .task-container .update-items .update-item-row-2 {
    flex-direction: column;
  }
  .right-header .wrapper .tasks .task-container .update-items .update-item-row-2 .update-item-row-2-right {
    justify-content: center;
  }
  .right-header .wrapper .add-items {
    width: 300px !important;
    margin-right: 0px !important;
    flex-direction: column;
  }
  .right-header .wrapper .add-items #add-item-input-field {
    padding: 5px;
    margin-bottom: 10px;
  }
}
/*#endregion*/